html
  head
    title= "Hello Pug"
    style 
      include style.css

  body
    div.container
      div.header
        a(href = home) Home
        a(href = OurServices) Our Services
      h2.greetings Contact Us
      div.content
        div.article1
          h3 Email
          p hello2021@hotmail.com
        div.article2
          h3 Phone
          p (+216) 854 546 495 451
        div.article3
          h3 Adress
          p 22 Sleepy Hollow St.
             Costa Mesa, CA 92627
        div.article4
          h3 Twitter
          p  https://twitter.com