html
  head
    title= "Hello Pug"
    style 
      include style.css

  body
    div.header
      a(href = home) Home
       br
      a(href = OurServices) Our Services
    div
      p.greetings#people Contact Us!  