@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Reset Styles */

body, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
}

.container {
    width: 90%;
    margin: auto;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    background: radial-gradient(#7CE1F3, #4DD6EF);
}

.header a {
    text-decoration: none;
    align-self: center;
    font-size: 20px;
    color: rgb(11, 32, 22);
}

.header a:hover {
    color: red
}
.header a:active {
    color: green
}
.header a:visited {
    color: yellow
}

.content {
    border: #7CE1F3 1px solid;
    border-top: 0;
    border-bottom: 0;
}

.greetings {
    margin-left: 10px;
    height: calc(100vh - 100px);
}

#error_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    .container {
        width: 100% !important;
    }
    .header {
        background-color: black !important;
    }
}